name: Rust

on:
  push:
    paths-ignore:
      - "*.yml"
      - .gitignore
      - "*.md"
  pull_request:
    paths-ignore:
      - "*.yml"
      - .gitignore
      - "*.md"

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"
  CARGO_TERM_COLOR: always

jobs:
  msrv:
    runs-on: ubuntu-22.04
    container: shssoichiro/av1an-ci:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust 1.80.1
        uses: dtolnay/rust-toolchain@1.80.1
      - name: Build
        run: cargo check --locked

  build:
    runs-on: ubuntu-latest
    container: shssoichiro/av1an-ci:latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo clippy
      - name: Run tests
        run: cargo test
