name: Rust

on:
  push:
    paths-ignore:
      - "*.yml"
      - .gitignore
      - "*.md"
  pull_request:
    paths-ignore:
      - "*.yml"
      - .gitignore
      - "*.md"

env:
  CARGO_TERM_COLOR: always
  DEPS: libavutil-dev libavformat-dev libavfilter-dev libavdevice-dev clang libfontconfig-dev

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: apt-get update && apt-get install -y ${{ env.DEPS }}
    - name: Build
      run: cargo clippy --verbose
    - name: Run tests
      run: cargo test --verbose
